#divPresentacion{
    position:absolute;
    width: auto;
    top: 10%;
    bottom: 10%;
    left: 30%;
    right: 30%;
    background: radial-gradient(circle, #ccccff 25%, white 40%);
}

#divComienzo{
    position:absolute;
    width: 125px;
    height: auto;
    top: 20%;
    height: auto;
    border-radius: 7px;
    border: solid 1px;
    z-index: 1;
    background-color: white;
}

#botonCambio{
    position: absolute;
    text-align: center;
    right: 49%;
    width: auto;
}

#vistaPreliminar{
    
}

.titulo{
    font-size: 40px;
    text-align: center;
    padding-top: 42%;
}

.titulo1{
    font-size: 20px;
    text-align: center;
}

.consejo{
    position:absolute;
    border-radius: 7px;
    top: 35%;
    bottom: 45%;
    left: 40%;
    right: 40%;
}

.consejo p{
    text-align: center;
    font-style: italic;
    font-size: 25px;
}

.container{
    max-width: 150px;
}

button{
    border-radius: 10px;
    width: auto;
}

.divTitulo{
    position:absolute;
    border-radius: 7px;
    top: 35%;
    left: 40%;
    border: solid 1px;
    background-color: white;
}

.divEncabezado{
    position:absolute;
    border-radius: 7px;
    top: 35%;
    bottom: 45%;
    left: 40%;
    right: 40%;
    border: solid 1px;
    background-color: white;
}

.divPie{
    position:absolute;
    border-radius: 7px;
    top: 35%;
    bottom: 45%;
    left: 40%;
    right: 40%;
    border: solid 1px;
    background-color: white;
}

.divFormulario{
    position:absolute;
    border-radius: 7px;
    top: 35%;
    bottom: 45%;
    left: 40%;
    right: 40%;
    border: solid 1px;
    background-color: white;
}

.divDiv{
    position:absolute;
    border-radius: 7px;
    top: 35%;
    left: 38%;
    height: 165px;
    border: solid 1px;
    background-color: white;
}

.divInputs{
    position:absolute;
    border-radius: 7px;
    top: 35%;
    bottom: 40%;
    left: 40%;
    right: 40%;
    border: solid 1px;
    background-color: white;
}

.divImagen{
    position:absolute;
    border-radius: 7px;
    top: 35%;
    bottom: 45%;
    left: 40%;
    right: 40%;
    border: solid 1px;
    background-color: white;
}

.divEnlace{
    position:absolute;
    border-radius: 7px;
    top: 35%;
    bottom: 45%;
    left: 40%;
    right: 40%;
    border: solid 1px;
    background-color: white;
}

.divTabla{
    position:absolute;
    border-radius: 7px;
    top: 35%;
    left: 40%;
    width: auto;
    height: auto;
    border: solid 1px;
    background-color: white;
}

.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Cambia el alto fijado aquí */
  height: 60px;
  background-color: grey;
}

.footer p {
    color: white;
}
