#divPresentacion{
    position:absolute;
    width: auto;
    top: 10%;
    bottom: 10%;
    left: 30%;
    right: 30%;
    background: radial-gradient(circle, #ccccff 25%, white 40%);
}

#divComienzo{
    position:absolute;
    width: 125px;
    height: auto;
    top: 20%;
    bottom: 20%;
    border-radius: 7px;
    border: solid 1px;
    z-index: 1;
    background-color: white;
}

.titulo{
    font-size: 40px;
    text-align: center;
    padding-top: 42%;
}

.titulo1{
    font-size: 20px;
    text-align: center;
}

.consejo{
    position:absolute;
    border-radius: 7px;
    top: 35%;
    bottom: 45%;
    left: 40%;
    right: 40%;
}

.consejo p{
    text-align: center;
    font-style: italic;
    font-size: 25px;
}

button{
    border-radius: 10px;
    width: 50px;
}
